@{
    ViewData["Title"] = "You have been signed up to the newsletter";
}
<br />
<div class="alert alert-success" role="alert">@ViewData["Title"]</div>

<div>
    <a asp-action="Create">Back to sign up page</a>
</div>